.jy-loading{
    position: absolute;
    top:0px;
    left:0px;
    background-color: aliceblue;
    opacity: 0.5;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}